body {
    background-color:rgb(255, 255, 255);
}

* {
  outline: 1px solid red;
}

@font-face {
    font-family: "crozet";
    src: url('Crozet-Regular.woff') format('woff');
}


div.title {
    font-family: "crozet";
    font-size: 120px;
    text-align: left;
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 300px;
    margin-bottom: 400px;
    flex: auto;
}

.title {
  animation: flash 1s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  width: 20ch; 
  animation: typing 3s steps(20), alternate, blink 0.5s;
}


@keyframes typing {
  from { width: 5; }
  to { width: 20ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#section-titles {
  position: fixed;
  top: 20px;
  right: 20px;
   font-family:"dico-code-one";
    font-weight: 400;
    font-style: normal;
}

#section-titles span {
  display: block;
  color: #999;
  transition: color 0.3s, font-weight 0.3s;
}

#section-titles span.active {
  color: #000;
  font-weight: bold;
 text-decoration: underline;
  font-family:"dico-code-one";
    font-style: bold;
}


/* div.content {
    font-family:"dico-code-one";
    font-weight: 400;
    font-style: normal;
    text-align: right;
    position:fixed;
    top:0px;
    right:0px;
    padding:10px;
    background: white;
    border-bottom:1px solid rgb(255, 255, 255);
} */

div.quote {
    display:flex;
    flex-wrap: wrap;
    margin-left:auto;
    }

div.quote {
    font-family: "crozet";
    font-size: 50px;
    text-align: left;
    margin-bottom: 400px;  
    margin-left: 500px;

}
@keyframes shakeX {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

div.quote .item {
    animation: shakeX 1.6s infinite;

}

img.small {
    width: 200px;
    height: auto;
    display: block;
    margin: left ;
    padding: 30px
    
}

img.medium {
    width: 400px; 
      display: block;
}

img.large {
  width: 100%;
}

div.top.image {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 20px;
  width: auto;
  flex: auto;
}
 
div.top.image img {
  width: 100px;  
  height: auto;
}


div.bodytext {
    font-family:"dico-code-one";   
    text-align: left;
    font-size: 21px;
    padding: 30px;
    margin-bottom: 400px;
    flex: auto;
}

div.meanings {
  font-family:"dico-code-one";
  font-size: 16px;
  padding: 10px;

}

div.subheadings {
    font-family:"dico-code-one";   
    text-align: left;
    font-size: 60px;
    flex: auto;
}

div.index {
    font-family:"dico-code-one";
    font-size: 24px;
    font-style: normal;
    text-align: left;
}

div.grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr 2fr 4fr ;
    gap: 10px;
}

div.spancol {
  grid-column: span 2;

}

div.designtest {
  width: 100%;
}

div.margin-bottom-10vh {
  margin-bottom: 10vh;
}