body {
    background-color:rgb(255, 255, 255);
}

@font-face {
    font-family: "crozet";
    src: url('Crozet-Regular.woff') format('woff');
}


div.title {
    font-family: "crozet";
    font-size: 120px;
    text-align: left;
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 500px;
    margin-bottom: 100px;
}

.title {
  animation: flash 1s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  width: 20ch; 
  animation: typing 3s steps(20), blink 0.5s;
}


@keyframes typing {
  from { width: 5; }
  to { width: 20ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}


div.content {
    font-family:"dico-code-one";
    font-weight: 400;
    font-style: normal;
    text-align: right;
    position:fixed;
    top:0px;
    right:0px;
    padding:10px;
    background: white;
    border-bottom:1px solid rgb(255, 255, 255);
}

div.width16 {
    width: 16.6666666667%;
}

div.quote {
    display:flex;
    flex-wrap: wrap;
    margin-top:30px;
    margin-left:auto;
    }

div.width25 {
    width: 25%
}

div.width50 {
    width: 50%
}

div.width25 {
    width: 25%
}


div.quote {
    flex: auto;
    width: 100%;
    display: block;
    font-family: "crozet";
    font-size: 50px;
    text-align: left;
    margin-bottom: 50px;  

}
@keyframes shakeX {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
}

div.quote .item {
    animation: shakeX 1.6s infinite;

}

img {
    width: 200px;
    height: auto;
    display: block;
    margin: left ;
    padding: 30px
    
}

div.top.image {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 20px;
  width: auto;
  flex: auto;
}

div.top.image img {
  width: 100px;  
  height: auto;
}

div.width30 {
    width: 30%
}

div.width70 {
    width: 70%
}

div.bodytext {
    font-family:"dico-code-one";   
    text-align: left;
    font-size: medium;
    padding: 30px;
    margin-bottom: 60px;
    flex: auto;
}

div.subheadings {
    font-family:"dico-code-one";   
    text-align: left;
    font-size: 60px;
    flex: auto;
}

div.index {
    font-family:"dico-code-one";
    font-weight: 24px;
    font-style: normal;
    text-align: left;
}




